@use 'sass:math';
.card {
  padding: $base-padding;
  display: block;
  border: $base-border-thickness;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius * 4);
  .card-title {
    font-size: $base-font-size-lg / 4;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size-xl;
    a {
      text-decoration: underline;
    }
  }
}
@debug 'salam';
