$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'error': $error,
  'info': $info,
  'blue': #1919e6,
  'red': #e61919,
  'yellow': #e6e619,
  'green': #19e635,
  'orange': #ffa600,
  'purple': #9900ff,
  'gray': #808080,
  'black': #000,
  'white': #fff,
);

$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
$base-box-shadow: 1px 3px 5px rgba(1, 0, 0, 1);
$base-font-size: 1rem;
$base-font-size-sm: $base-font-size * 0.75;
$base-font-size-lg: $base-font-size * 1.5;
$base-font-size-xl: $base-font-size * 2;
$base-font-size-xxl: $base-font-size * 2.5;
@debug map-get($map: $colors, $key: 'purple');
@debug map-has-key($map: $colors, $key: '$primary');
@debug map-remove($map: $colors, $keys: 'black');
@debug map-merge(
  $colors,
  (
    'white': #fff,
  )
);
